<div>
    <!-- Header -->
    <div class="top-row nav-item ps-3 navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="">Quotastic</a>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div>
        <nav class="nav">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    View
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="/AddQuote" Match="NavLinkMatch.All">
                    Add
                </NavLink>
            </div>
        </nav>
    </div>
</div>
