@page "/AddQuote"
@using QuoteGeneration.Models
@inject SavedQuotesService SavedQuotesService
@inject QuoteGeneration.Controllors.Query QueryService
@* @rendermode InteractiveServer *@

@if (IsLoading)
{
    <div class="loading-overlay">
        <div class="spinner"></div>
        <p>@LoadingMessage</p>
    </div>
}
else
{
    <table class="table">
        <tbody class="quote-body">
            <tr class="quoteAuthorheader"><td>Author</td></tr>
            <tr>
                <InputText class="author" @bind-Value="Author" />
            </tr>
            <tr class="quoteAuthorheader"><td>Quote</td></tr>
            <tr>
                <InputTextArea class="quote" @bind-Value="Quote" />
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary mb-3 button" @onclick="AddNewQuote">Add New Quote</button>
}