@page "/"
@using System.Text.Json
@using QuoteGeneration.Models
@inject HttpClient Http
@inject QuoteGeneration.Controllors.Query QueryService
@inject SavedQuotesService SavedQuotesService
@* @rendermode InteractiveServer *@

<PageTitle>Home</PageTitle>

@if (IsLoading)
{
    <div class="loading-overlay">
        <div class="spinner"></div>
        <p>@LoadingMessage</p>
    </div>
}
else
{
    <table class="table">
        <tbody class="quote-body">
            <tr class="quote">@Quote</tr>
            <tr class="author">@Author</tr>
        </tbody>
    </table>

    <button class="btn btn-primary mb-3 button" @onclick="GenerateQuote">Generate Quote</button>
}