@page "/"

<PageTitle>Home</PageTitle>

<h1>Quote Generator</h1>

<button>Generate Quote</button>

<table>
    <tr>
        <td>Author</td>
        <td id="AuthorCell">Creed</td>
    </tr>
    <tr>
        <td>Quote</td>
        <td id="QuoteCell">When Pam gets Michael's old chair, I get Pam's old chair. Then I'll have two chairs. Only one to go</td>
    </tr>
</table>